* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 100%;
  width: 100%;
  background-color: beige;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayArea {
  background-color: rgb(219, 252, 153);
  background-image: url("./arabesque.png");
  height: 250px;
  width: 350px;
  border: 3px solid black;
  margin-bottom: 20px;
  color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

.displayArea > * {
  margin-bottom: 15px;
}

.displayArea:hover {
  transition: 0.4s;
  box-shadow: 0 0 15px rgb(63, 63, 63);
}

.cityName {
  color: rgb(129, 18, 233);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
}

.country,
.region {
  font-weight: 700;
  font-size: 1.2rem;
}

.condition {
  color: rgb(0, 202, 131);
  font-weight: 900;
  font-size: 1.5rem;
  letter-spacing: 2px;
  -webkit-text-stroke: 1px;
  -webkit-text-stroke-color: rgb(0, 106, 57);
}

.temperature {
  color: orangered;
  font-weight: bolder;
  font-size: 1.3rem;
}

.searchBtn {
  padding: 12px 20px;
  color: whitesmoke;
  background-color: rgb(0, 197, 0);
  border: 2px solid rgb(0, 75, 0);
  font-size: 1.3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 600;
  margin-top: 20px;
  border-radius: 4px;
}

.searchBtn:active {
  background-color: green;
}
.searchBtn:hover {
  transition: 0.4s;
  box-shadow: 0 0 8px rgb(63, 63, 63);
  cursor: pointer;
}

.enteredCity {
  font-size: 1.2rem;
  height: 35px;
  width: 300px;
  padding: 5px;
}
.condition_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
  display: none;
  background-color: white;
  margin-left: 10px;
  border-radius: 50%;
  padding: 3px;
  border: 2px solid rgb(19, 159, 0);
}
